body {
    font-family: Arial, sans-serif;
    background-color: #d90076;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: black;

}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="text"].has-value,
form input[type="password"].has-value {
    color: black;
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    color: black;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f62799;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #d90076;
}

form p {
    color: red;
    text-align: center;
}